

.container{
    position: relative;
    width: 1110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 38px;
}

.container .card{
    position: relative;
    max-width: 300px;
    height: 420px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.card:hover{
    height: 420px;

}

.imgbox{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.imgbox img{
    max-width: 100%;
    border-radius: 4px;

}

.content{
    position: relative;
    margin: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}

.card:hover{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay : 0.3s;
}