@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

.text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
}

.text.hidden {
  border-bottom: 1px solid #fff;
}

.text h2 {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}

.text p {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}

.text.hidden li.spaced {
  padding-left: 0;
}
.text li.spaced {
  padding-left: 0.5em;
}

.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}

.body{
    background: #222;
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
    
}

.header{
    background-color: #fff;
    padding : 0;
    margin : 0;
}

.section{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    letter-spacing: 4px;
    overflow: hidden;
    clip: rect(0, auto, auto, 0);

    .fixed{
        overflow: hidden;
        position: fixed;
        top: 50%;
        left: 50%;

    }

    .white{
        color : #fff;
    }
}

@for $i from 1 through 10 {
    .section:nth-child(#{$i}){
        @if($i==1){
            background-color: #fff;
            color: #000;
            top: 0;
        }@else if($i==10){
            background-color: #000;
            color: #fff;
            top: (100vh * ($i -1));
        }@else{
            box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
            background-color:
            hsl(200deg * $i, 90%, 40%);
            color: #fff;
            top: (100vh * ($i-1));
        }
        z-index: ($i);
        .fixed{
            transform: translate(-50%, -50%);
        }

    }
}

.oop{
    position: relative;
    z-index: auto;
    height: 10px;
    background: linear-gradient(141deg, #48ded4 0%, #a026bf 51%, #e82c75 75%);
}